* text=auto

*.py   text eol=lf
*.sh   text eol=lf
*.in   text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
*.txt  text eol=lf
*.pdb  text eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.zip  binary
*.ckpt binary